<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apikey</key>
	<string>$(Apikey)</string>
	<key>Configtest</key>
	<string>$(CONFIG_TEST)</string>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://developmenthf.github.io/MatchMenuRelease/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>GF7TBUMQABPY13lpNDR9w9wAlkzFlcIiKRvBpEuaoNY=</string>
	<key>Variable</key>
	<string>infotest</string>
</dict>
</plist>
